@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&family=Mulish:wght@300;400;600;700&display=swap");
@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}
@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #2e2929;
  font-family: "Mulish", sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #f1f5f8;
}

@media (min-width: 64rem) {
  body {
    font-size: 1rem;
  }
}

body.noscroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

ul > li {
  display: inline-block;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5;
}

@media (min-width: 64rem) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64rem) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Lora", sans;
}

.title > h2 {
  font-weight: 700;
}

small {
  font-family: "Lora", sans;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.container--pall {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

@media (min-width: 64rem) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 2.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64rem) {
  .container--py {
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64rem) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-grid-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-grid-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-grid-ji-c {
  justify-items: center;
}

.d-grid-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.btn,
input {
  border: none;
  background: transparent;
  font-size: 0.7rem;
  text-transform: capitalize;
}

button:focus,
.btn:focus,
input:focus {
  outline: 0;
}

button,
.btn {
  cursor: pointer;
}

@media (max-width: 63.9375rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64rem) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  background: url("../../images/Background.png") no-repeat;
  background-size: cover;
}

.header .contact {
  padding: 1rem 2rem;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  font-size: 0.7rem;
  color: #dae2ec;
}

@media (max-width: 34.25rem) {
  .header .contact {
    -ms-grid-columns: none;
        grid-template-columns: none;
    text-align: center;
  }
}

.header .contact__info span {
  padding: 0.7rem;
}

@media (max-width: 34.25rem) {
  .header .contact__info span {
    display: block;
  }
}

.header .contact__btn {
  padding: 0.5rem 2rem;
  -ms-grid-column-align: end;
      justify-self: end;
  border: 1px solid #dae2ec;
  -webkit-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
  font-weight: 700;
  color: #f9f6f6;
}

@media (max-width: 34.25rem) {
  .header .contact__btn {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.header .contact__btn:hover {
  background-color: #e37835;
  color: #f1f5f8;
}

.header .nav {
  background: white;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  position: relative;
}

@media (max-width: 34.25rem) {
  .header .nav {
    width: 100% !important;
  }
}

.header .nav__wrap {
  max-width: 90rem;
  margin: auto;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 48rem) {
  .header .nav__wrap {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.header .nav__brand {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 2rem;
  padding: 0.5rem 0.8rem;
}

.header .nav__brand img {
  width: 160px;
  height: 80%;
}

@media (max-width: 48rem) {
  .header .nav__menu {
    display: none;
  }
}

.header .nav__links {
  color: #617d98;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.header .nav__links:hover {
  border-bottom: 3px solid #e37835;
  color: #e37835;
}

.header .nav__search-container {
  text-transform: capitalize;
  cursor: pointer;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2rem;
}

@media (max-width: 34.25rem) {
  .header .nav__search-container {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.header .nav__search-container:hover {
  color: #0074bd;
}

@media (max-width: 34.25rem) {
  .header .nav__search-container span {
    display: none;
  }
}

.header .nav__menu-btn {
  display: none;
  font-size: 1.25rem;
}

@media (max-width: 48rem) {
  .header .nav__menu-btn {
    display: block;
  }
}

.header .nav .search-form {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  padding-left: 1.5rem;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.header .nav .search-form input {
  border: 1px solid #9eb2c7;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 1rem;
}

.header .nav .search-form button {
  font-size: 1.5rem;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #f1f5f8;
  padding: 0.65rem 1rem;
  background: #9eb2c7;
  border-radius: 0 0.5rem 0.5rem 0;
}

.header .nav .search-form .search_close {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  background-color: #e37835;
  padding: 0.65rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #f1f5f8;
}

.header .nav .show-search-form {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.header .nav .search-result {
  position: absolute;
  background-color: #bcccdc;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  display: none;
}

.header .fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  z-index: 999999;
}

@media (max-width: 34.25rem) {
  .header .fixed-nav .nav__wrap {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.header .sidenav {
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 270px;
  background-color: white;
  width: 90%;
  z-index: 20;
  -webkit-transform: translateX(-120rem);
          transform: translateX(-120rem);
  opacity: 0;
  -webkit-transition: all ease-in-out 600ms;
  transition: all ease-in-out 600ms;
  padding: 3rem 1rem;
}

.header .sidenav__brand {
  width: 160px;
  margin: 0 auto;
}

.header .sidenav__items {
  border-bottom: 1px solid #2e2929;
  padding: 1rem 0;
}

.header .sidenav__items:hover {
  background-color: #e37835;
}

.header .sidenav__items:hover a {
  color: #f9f6f6;
}

.header .sidenav__items:nth-child(1) {
  border-top: 1px solid #2e2929;
}

.header .sidenav__links {
  text-transform: capitalize;
  color: #0074bd;
  width: 100%;
  padding: 1rem 0;
  padding-left: 1.5rem;
  padding-right: 5rem;
}

.header .sidenav__close {
  position: absolute;
  top: 0.5rem;
  right: -3rem;
  cursor: pointer;
}

.header .sidenav__close i {
  background-color: #0074bd;
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
}

.header .show-sidenav {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.header .hero__container {
  position: relative;
  margin-bottom: 10rem;
}

.header .hero__container::after {
  content: "";
  width: 21rem;
  height: 21rem;
  display: block;
  background: url("../../images/Landing-Banner-1-100x50.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 10%;
  right: 10%;
}

@media (max-width: 48rem) {
  .header .hero__container::after {
    display: none !important;
  }
}

@media (max-width: 34.25rem) {
  .header .hero__container {
    margin-bottom: 20rem;
  }
}

.header .hero__text-body {
  color: #f9f6f6;
  width: clamp(45ch, 30rem, 75ch);
  padding: 2rem;
}

@media (max-width: 34.25rem) {
  .header .hero__text-body {
    padding: 0;
    margin: 2rem auto;
    width: 100%;
  }
}

.header .hero__text-body h2 {
  margin: 0;
  font-size: clamp(1.5rem, 3rem, 3.1rem);
  font-weight: 800;
}

.header .hero__text-body p {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 300;
}

.header .hero__btn-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media (max-width: 34.25rem) {
  .header .hero__btn-container {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 1rem;
    width: 10rem;
  }
}

.header .hero__btn {
  color: #dae2ec;
  padding: 0.8rem 1.125rem;
  border: 1px solid #9eb2c7;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header .hero__btn:hover {
  background-color: #829ab0;
  color: #dae2ec;
  border: 1px solid #e37835;
}

.header .hero__page-map {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .hero__page-map-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  max-width: 90rem;
  margin: auto;
}

@media (max-width: 34.25rem) {
  .header .hero__page-map-container {
    -ms-grid-columns: none !important;
        grid-template-columns: none !important;
    width: 100%;
  }
}

.header .hero__page-map-btn {
  padding: 3rem 5rem;
  display: inline-block;
  color: #f1f5f8;
  font-size: 1.25rem;
  background-color: #6f6b67;
}

.header .hero__page-map-btn:hover {
  background-color: #bcccdc;
  color: #2e2929;
}

.aboutLCPartners {
  background: #9eb2c7;
}

.aboutLCPartners__container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 48rem) {
  .aboutLCPartners__container {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 34.25rem) {
  .aboutLCPartners__detail {
    width: 90%;
  }
}

.aboutLCPartners__detail h2 {
  font-weight: 800;
  text-transform: capitalize;
}

.aboutLCPartners__detail p {
  font-size: 1rem;
  color: #6f6b67;
}

@media (max-width: 34.25rem) {
  .aboutLCPartners__detail p {
    width: 85%;
  }
}

.aboutLCPartners__stat {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

@media (max-width: 34.25rem) {
  .aboutLCPartners__stat {
    -ms-grid-columns: none;
        grid-template-columns: none;
    justify-items: center;
  }
}

.aboutLCPartners__stat p {
  margin: 0;
  font-size: 0.7rem;
}

.aboutLCPartners__stat-card {
  background-color: #f9f6f6;
  padding: 0.4rem;
  text-align: center;
}

.content {
  display: none;
}

.services__container {
  background-color: white;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

@media (max-width: 34.25rem) {
  .services__container {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

.services__btn-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 34.25rem) {
  .services__btn-container {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.services__btn-container .active {
  background-color: white !important;
  border-bottom: 5px solid #617d98;
  color: #617d98;
}

@media (max-width: 34.25rem) {
  .services__btn-container .active {
    border-bottom: 0;
    border-right: 5px solid #617d98;
  }
}

.services__btn-container .tab-btn {
  background-color: #dae2ec;
  padding: 1rem 0;
  text-transform: capitalize;
  font-size: 1rem;
  display: inline-block;
  font-family: "Lora", sans;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.services__btn-container .tab-btn:hover:not(.active) {
  background-color: #9eb2c7;
}

.services__btn-container .tab-btn:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.services__btn-container .tab-btn:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

@media (max-width: 34.25rem) {
  .services__btn-container .tab-btn:nth-child(3) {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
  }
}

.services__about-content .active {
  display: block !important;
}

.services__about-content .content {
  padding: 1rem;
}

.services__about-content .content__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

@media (max-width: 34.25rem) {
  .services__about-content .content__body {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.services__about-content .content__body .timeline-body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.services__about-content .content__body .timeline__heading {
  text-transform: capitalize;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.services__about-content .content__body .timeline__heading img {
  -ms-grid-column-align: end;
      justify-self: end;
}

.services__about-content .content__body .timeline {
  position: relative;
  margin: 0 auto;
  /* Container around content */
}

.services__about-content .content__body .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #617d98;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

@media (max-width: 34.25rem) {
  .services__about-content .content__body .timeline::after {
    left: 0;
  }
}

.services__about-content .content__body .timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

@media (max-width: 34.25rem) {
  .services__about-content .content__body .timeline_container {
    width: 100%;
  }
}

.services__about-content .content__body .timeline_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  -webkit-transform: translateX(-0.7rem);
          transform: translateX(-0.7rem);
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.services__about-content .content__body .timeline_container p {
  margin: 0;
}

.services__about-content .content__body .timeline .right {
  left: 50%;
}

@media (max-width: 34.25rem) {
  .services__about-content .content__body .timeline .right {
    left: 0;
  }
}

.clients {
  background-color: rgba(227, 120, 53, 0.575);
}

.clients__container {
  overflow: hidden;
  padding: 60px;
  position: relative;
}

.clients__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__slide {
  margin-right: 10rem;
}

.clients__slide img {
  width: 150px;
  height: 150px;
}

.clients .active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #e37835;
}

.clients .active img {
  border: 5px solid #617d98;
}

.clients__slider-controller button {
  font-size: 3.25rem;
}

.clients__slider-controller #client-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.clients__slider-controller #client-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.insight__container {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-column-gap: 1.5rem;
}

@media (max-width: 48rem) {
  .insight__container {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-row-gap: 1rem;
  }
}

.insight__focal {
  background-image: url("../../images/Mask Group 1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
}

.insight__focal-container {
  width: 60%;
  background-color: #f9f6f6;
  padding: 0.8rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 0.5rem;
  -webkit-transform: translate(-3px, 0);
          transform: translate(-3px, 0);
  -webkit-box-shadow: 4px 5px 14px 3px rgba(227, 120, 53, 0.575);
          box-shadow: 4px 5px 14px 3px rgba(227, 120, 53, 0.575);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.insight__focal-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(3px, 0);
          transform: translate(3px, 0);
}

@media (max-width: 34.25rem) {
  .insight__focal-container {
    width: 90%;
  }
}

.insight__focal-container .focal-heading small {
  color: #e37835;
  font-size: 0.7rem;
  font-weight: 600;
}

@media (max-width: 34.25rem) {
  .insight__focal-container .focal-heading small {
    font-size: .7rem;
  }
}

.insight__focal-container .focal-heading h3 {
  font-weight: 600;
}

@media (max-width: 34.25rem) {
  .insight__focal-container .focal-heading h3 {
    font-size: 1rem;
  }
}

.insight__focal-container .focal-detail p {
  font-size: 1rem;
}

@media (max-width: 34.25rem) {
  .insight__focal-container .focal-detail p {
    font-size: .8rem;
  }
}

.insight__focal-container .focal-detail a {
  color: #0074bd;
  text-transform: capitalize;
  font-size: 1rem;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.insight__focal-container .focal-detail a:hover {
  color: #e37835;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.insight__card-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.insight__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  background: #f9f6f6;
  border-radius: 0.5rem;
  -webkit-box-shadow: 3px 3px 7px 0px rgba(227, 120, 53, 0.575);
          box-shadow: 3px 3px 7px 0px rgba(227, 120, 53, 0.575);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 800;
}

.insight__card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media (max-width: 34.25rem) {
  .insight__card {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.insight__card-img img {
  width: 5.625rem;
  min-height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

@media (max-width: 48rem) {
  .insight__card-img img {
    width: 100%;
    height: 100%;
  }
}

.insight__card-body {
  padding: 0.4rem 0.5rem;
}

.insight__card-body small {
  font-size: 0.7rem;
  color: #e37835;
}

.insight__card-body a {
  font-size: 1rem;
  display: block;
  color: #2e2929;
}

.insight__card-body a:hover {
  color: #0074bd;
}

.fVideos {
  background: #9eb2c7;
}

.fVideos__container {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  justify-items: center;
}

@media (max-width: 48rem) {
  .fVideos__container {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    padding: 0 0.4rem;
  }
}

.fVideos__card .video {
  position: fixed;
  width: 100%;
  background: rgba(19, 11, 1, 0.514);
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.fVideos__card .video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fVideos__card .video i {
  position: absolute;
  right: 5%;
  font-size: 3rem;
  cursor: pointer;
}

.fVideos__card .open-video {
  z-index: 9999999999999;
  opacity: 1;
}

.fVideos__card .video_image {
  position: relative;
  margin: 0 auto;
}

.fVideos__card .video_image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.fVideos__card .video_image .image-overlay {
  color: #f9f6f6;
  font-weight: 800;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0%;
  width: 100%;
  height: 97%;
  background-color: rgba(65, 80, 170, 0.253);
  cursor: pointer;
}

.fVideos__card .video_image .image-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.25rem;
}

.fVideos__card .video_image .image-overlay i::before {
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.fVideos__card-body {
  text-transform: capitalize;
}

@media (max-width: 48rem) {
  .fVideos__card-body {
    text-align: center;
  }
}

.fVideos__card-body > h3 {
  font-size: 1rem;
  font-weight: 600;
}

.fVideos__card-body > p {
  font-size: 0.7rem;
  width: 80%;
}

@media (max-width: 48rem) {
  .fVideos__card-body > p {
    width: 100%;
  }
}

.testimonial {
  background-color: rgba(227, 120, 53, 0.575);
}

.testimonial__container {
  overflow: hidden;
  padding: 60px;
  position: relative;
}

.testimonial__slider {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__slide {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  margin-right: 5rem;
  width: 250px;
  grid-row-gap: 3rem;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.testimonial__slide img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonial__slide .slide-body {
  text-align: center;
  opacity: 0;
}

.testimonial__slide .slide-body h3 {
  font-weight: 800;
}

.testimonial__slide .slide-body p {
  color: #6f6b67;
}

.testimonial .active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.testimonial .active .slide-body {
  opacity: 1;
}

.testimonial__slider-controller button {
  font-size: 3.25rem;
  color: #0074bd;
}

.testimonial__slider-controller #testimonial-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonial__slider-controller #testimonial-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.countdown {
  text-transform: capitalize;
  font-weight: 600;
}

.countdown__container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 48rem) {
  .countdown__container {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.countdown__banner {
  position: relative;
}

.countdown__banner img {
  width: 100%;
}

.countdown__banner::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 116, 189, 0.61);
  top: 0;
  left: 0;
}

.countdown__banner-body {
  width: 60%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.countdown__banner-body h3 {
  color: #f9f6f6;
  font-family: "Lora", sans;
}

.countdown__action {
  background-color: rgba(227, 120, 53, 0.753);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

@media (max-width: 34.25rem) {
  .countdown__action {
    -ms-grid-columns: none;
        grid-template-columns: none;
    background-color: transparent;
    grid-gap: 0.8rem;
  }
}

.countdown__action input {
  padding: 0.8rem;
  color: #f9f6f6;
}

.countdown__action input::-webkit-input-placeholder {
  color: #f9f6f6;
}

.countdown__action input:-ms-input-placeholder {
  color: #f9f6f6;
}

.countdown__action input::-ms-input-placeholder {
  color: #f9f6f6;
}

.countdown__action input::placeholder {
  color: #f9f6f6;
}

@media (max-width: 34.25rem) {
  .countdown__action input {
    background-color: rgba(227, 120, 53, 0.753);
    border-radius: 5px;
  }
}

.countdown__action button {
  background-color: #e37835;
  width: 100%;
  height: 100%;
  color: #2e2929;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 34.25rem) {
  .countdown__action button {
    border-radius: 5px;
    padding: .2rem;
  }
}

.countdown__timer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.countdown__timer h3 {
  text-transform: capitalize;
  font-weight: 600;
}

.countdown__timer-container {
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
}

@media (max-width: 34.25rem) {
  .countdown__timer-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

.countdown__timer-body {
  border: 1px solid #2e2929;
  width: 5rem;
  height: 5rem;
}

.countdown__timer-body h4 {
  margin: 1rem 0;
}

@media (max-width: 34.25rem) {
  .countdown__timer-body h4 {
    margin: 5px 0;
  }
}

.countdown__timer-body span {
  font-size: 1rem;
}

.news {
  background: rgba(227, 120, 53, 0.575);
}

.news__container {
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-gap: 1.25rem;
  grid-column-gap: 1.5rem;
  justify-items: center;
}

@media (max-width: 48rem) {
  .news__container {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}

.news__card {
  background: #f9f6f6;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-column-gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

@media (max-width: 34.25rem) {
  .news__card {
    -ms-grid-columns: none;
        grid-template-columns: none;
    width: 65%;
  }
}

.news__card-img {
  border-radius: 0.5rem 0 0 0.5rem;
  width: 11.5625rem;
  height: 11.125rem;
}

@media (max-width: 34.25rem) {
  .news__card-img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }
}

.news__card-body {
  padding: 0.6rem;
}

.news__card-body > small {
  color: #6f6b67;
  font-size: 1rem;
}

.news__card-body > a {
  display: block;
  color: #2e2929;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.news__card-body > a:hover {
  color: #0074bd;
}

.footer {
  background: rgba(0, 116, 189, 0.247);
  width: 100%;
}

.footer__container {
  padding-bottom: 1rem;
}

.footer__info {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media (max-width: 48rem) {
  .footer__info {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 48rem) {
  .footer__text-social-links {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.footer__text-social-links img {
  width: 50%;
}

.footer__text-social-links p {
  font-size: 0.7rem;
  color: #6f6b67;
  line-height: 1.5rem;
}

.footer__social-links > a {
  color: #0074bd;
}

.footer__social-links > a:hover {
  color: rgba(227, 120, 53, 0.575);
}

.footer__menu-subscription {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  font-family: "Lora", sans;
}

@media (max-width: 48rem) {
  .footer__menu-subscription {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    width: 100%;
  }
}

.footer__menu-subscription > p {
  font-size: 0.7rem;
  text-transform: capitalize;
  font-weight: 700;
}

.footer__menu {
  border-top: 1px solid #6f6b67;
  border-bottom: 1px solid #6f6b67;
  padding: 1rem 0;
  text-align: center;
}

.footer__link {
  color: #2e2929;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.7rem;
}

.footer__link:hover {
  color: #e37835;
}

.footer__input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.footer__input > input {
  border: 1px solid #e37835;
  background: rgba(227, 120, 53, 0.575);
  border-right: 0;
  padding: 1rem;
  color: #f9f6f6;
}

.footer__input > input::-webkit-input-placeholder {
  color: #f9f6f6;
}

.footer__input > input:-ms-input-placeholder {
  color: #f9f6f6;
}

.footer__input > input::-ms-input-placeholder {
  color: #f9f6f6;
}

.footer__input > input::placeholder {
  color: #f9f6f6;
}

.footer__input > button {
  background: #e37835;
  padding: 1rem;
  color: #f9f6f6;
}

.footer .hr {
  width: 100%;
  border-top: 1px solid #6f6b67;
}

.footer__copyright {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */