.aboutLCPartners {
    background: $clr-grey-3;

    &__container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        @include breakpoint-down(small) {
            grid-template-columns: none;
        }
    }
    &__detail {
        @include breakpoint-down(ex-small) {
            width: 90%;
        }
        h2 {
            font-weight: 800;
            text-transform: capitalize;
        }
        p {
            font-size: 1rem;
            color: $lightGrey;
            @include breakpoint-down(ex-small) {
                width: 85%;
            }
        }
    }
    &__stat {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-gap: 1rem;
        @include breakpoint-down(ex-small) {
            grid-template-columns: none;
            justify-items: center;
        }
        p {
            margin: 0;
            font-size: $font-sm;
        }
    }
    &__stat-card {
        background-color: $geryisWhite;
        padding: 0.4rem;
        text-align: center;
    }
}
