.clients {
    background-color: $lightRedishBrown;
    &__container {
        overflow: hidden;
        padding: 60px;
        position: relative;
    }
    &__slider {
        display: flex;
        align-items: center;
    }
    &__slide {
        margin-right: 10rem;
        img {
            width: 150px;
            height: 150px;
        }
    }
    .active {
        transform: scale(1.5);
        background-color: $redishBrown;
        img {
            border: 5px solid $clr-grey-1;
        }
    }
    &__slider-controller {
        button{
            font-size: $font-xlg;
        }
        #next-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        #prev-btn {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
