.countdown {
    text-transform: capitalize;
    font-weight: 600;
    &__container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    &__banner {
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: hsla(203, 100%, 37%, 0.61);
            top: 0;
            left: 0;
        }
    }
    &__banner-body {
        width: 60%;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        h3 {
            color: $geryisWhite;
            font-family: "Lora", sans;
        }
    }
    &__action {
        background-color: hsla(23, 76%, 55%, 0.753);
        border-radius: 5px;
        display: grid;
        grid-template-columns: 2fr 1fr;

        input {
            padding: 0.8rem;
            color: $geryisWhite;
            &::placeholder{
                color: $geryisWhite;
            }
        }

        button {
            background-color: $redishBrown;
            width: 100%;
            height: 100%;
            color: $darkGrey;
            font-size: .8rem;
            font-weight: 600;
            border-radius: 0 5px 5px 0;
        }
    }

    &__timer {
        align-self: center;
        text-align: center;
        h3 {
            text-transform: capitalize;
            font-weight: 600;
        }
    }
    &__timer-container {
        grid-template-columns: repeat(4, auto);
        grid-gap: 1rem;
    }
    &__timer-body {
        border: 1px solid $darkGrey;
        width: 7rem;
        height: 7rem;
        .timer--text {
            font-size: 1rem;
        }
    }
}
