// footer styling start

.footer {
  background: $lightBlue;
  width: 100%;
  &__container {
    padding-bottom: 1rem;
  }
  // footer information section
  &__info {
    grid-template-columns: 1fr 3fr;

    // mobile design start
    @include breakpoint-down(small) {
      grid-template-columns: none;
    }
    // mobile design end

  }
  //   text design
  &__text-social-links {

    // mobile design start
    @include breakpoint-down(small) {
      justify-self: center;
      text-align: center;
    }
    // mobile design end

    img {
      width: 50%;
    }
    p {
      font-size: $font-sm;
      color: $lightGrey;
      line-height: 1.5rem;
    }
  }
  //   social links style
  &__social-links {
    > a {
      color: $blue;
      &:hover {
        color: $lightRedishBrown;
      }
    }
  }
  //  footer menu and subscription section
  &__menu-subscription {
    justify-self: end;
    align-self: center;
    width: 50%;
    font-family: "Lora", sans;

    // mobile design start
    @include breakpoint-down(small) {
      justify-self: center;
      text-align: center;
      width: 100%;
    }
    // mobile design end

    > p {
      font-size: $font-sm;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
  //   footer menu
  &__menu {
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    padding: 1rem 0;
    text-align: center;
  }
  //   footer menu links
  &__link {
    color: $darkGrey;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.7rem;

    &:hover {
      color: $redishBrown;
    }
  }

  // footer input
  &__input {
    display: grid;
    grid-template-columns: 3fr 1fr;
    > input {
      border: 1px solid $redishBrown;
      background: $lightRedishBrown;
      border-right: 0;
      padding: 1rem;
      color: $geryisWhite;
      &::placeholder{
          color: $geryisWhite;
      }
    }
    > button {
      background: $redishBrown;
      padding: 1rem;
      color: $geryisWhite;
    }
  }
  .hr {
    width: 100%;
    border-top: 1px solid $lightGrey;
  }
  &__copyright {
    text-align: center;
    font-size: $font-sm;
  }
}

// footer styling ends
