.news {
    background: $lightRedishBrown;
    &__container {
        grid-template-columns: repeat(2, auto);
        grid-gap: 1.25rem;
        grid-column-gap: 1.5rem;
        justify-items: center;

        @include breakpoint-down(small) {
            grid-template-columns: repeat(1, auto);
        }
    }
    //   latest news car
    &__card {
        background: $geryisWhite;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 0.8rem;
        align-items: center;
        border-radius: 0.5rem;
        @include breakpoint-down(ex-small) {
            grid-template-columns: none;
            width: 65%;
        }
    }
    // news card image
    &__card-img {
        border-radius: 0.5rem 0 0 0.5rem;
        width: 11.5625rem;
        height: 11.125rem;
        @include breakpoint-down(ex-small) {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
        }
    }
    // latest news card body
    &__card-body {
        padding: 0.6rem;
        > small {
            color: $lightGrey;
            font-size: 1rem;
        }
        > a {
            display: block;
            color: $darkGrey;
            font-size: 1.25rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
            &:hover {
                color: $blue;
            }
        }
    }
}
