$blue: hsl(203, 100%, 37%);
$lightBlue: hsla(203, 100%, 37%, 0.247);
$redishBrown: hsl(23, 76%, 55%);
$lightRedishBrown: hsla(23, 76%, 55%, 0.575);
$darkGrey: hsl(0, 5%, 17%);
$darkGrey-300: hsla(0, 33%, 7%, 0.808);
$lightGrey: hsl(27, 4%, 42%);
$white: hsl(0, 0%, 100%);
$geryisWhite: hsl(0, 20%, 97%);
$clr-grey-1: hsl(210, 22%, 49%);
$clr-grey-2: hsl(209, 23%, 60%);
$clr-grey-3: hsl(211, 27%, 70%);
$clr-grey-4: hsl(210, 31%, 80%);
$clr-grey-5: hsl(212, 33%, 89%);
$clr-grey-6: hsl(210, 36%, 96%);

//fonts size
$font-sm: .7rem;
$font-med: 1rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;