$blue: hsl(203, 100%, 37%);
$lightBlue: hsla(203, 100%, 37%, 0.247);
$redishBrown: hsl(23, 76%, 55%);
$lightRedishBrown: hsla(23, 76%, 55%, 0.575);
$darkGrey: hsl(0, 5%, 17%);
$darkGrey-300: hsla(0, 33%, 7%, 0.808);
$lightGrey: hsl(27, 4%, 42%);
$geryisWhite: hsl(0, 20%, 97%);

//fonts size
$font-sm: .7rem;
$font-med: 1.25rem;
$font-lg: 1.5rem;
$font-xlg: 3.25rem;